<html>
  <head>
    <meta  content="text/html; charset=windows-1252"  http-equiv="content-type">
    <link  rel="alternate stylesheet"  type="text/css"  href="resource://gre-resources/plaintext.css"
       title="Wrap Long Lines">
  </head>
  <body>
    <pre>@charset "utf-8";
/* CSS Document */


/*
Theme Name: Multipurpose Landing Page Template - All in One
Version: 1.0
Author: Surjith SM
Author URI: http://themeforest.net/user/surjithctly
*/


/******************  Table of Contents  *****************************/

/*

1. GLOBAL STYLES
2. HEADER
3. HERO IMAGE
4. FEATURES
5. TESTIMONIALS
6. FAQ
7. FOOTER
8. CUSTOM MEDIA QUERIES

If you having trouble in editing css. please send a mail to support@surjithctly.in -
I will really help you

*/

/*========== 1. GLOBAL STYLES ==============*/


body {
	font-family: 'Montserrat', Arial, sans-serif;
	background:#FFF;
	font-weight:400;
	height: 100%;
	margin: 0;
	padding: 0;
	color:#94a3a8;
	line-height:1.5;
}
strong, b {
	font-weight:600;
}
h1 h2,h3,h4,h5,h6 {
	color: #4F4F4E;
}

h1 {
	font-size:50px;
	line-height:1.5;
	margin:25px 0;
	font-family: 'Fredoka One', cursive;
	text-align: left;
}
h2 {
	font-size:28px;
	font-weight:700;
	margin:15px 0;
}
h3 {
	font-size: 18px;
	margin: 10px 0;
	font-weight: 700;
}
h4 {
	font-size:22px;
	margin:10px 0;
	font-weight:700;
	line-height:1.5;
}
h5 {
	font-size:18px;
	margin:15px 0;
}
h6 {
	font-size:16px;
	margin:10px 0;
}
a {
	color:#5173bd;
}
a:hover, a:focus {
	color:#5173bd;
}
label{
	font-weight: lighter;
}
.btn, .btn-lg, .input-lg {
	border-radius:3px;
}
.form-control {
	border-radius: 3px;
	-webkit-box-shadow:none;
	box-shadow:none;
}
.input-lg {
	height: 55px;
}
.btn-lg, .btn-group-lg &gt; .btn {
	padding: 13px 28px;
}
.form-control:focus {
border-color: #AFBDC8;
outline: 0;
-webkit-box-shadow: none;
box-shadow: none;
}
.breath {
	margin:35px auto;
}
.highlight {
	background:#f4f4f4;
	margin-top:40px;
}
.has-no-margin {
	margin:0;
}
.has-no-padding {
	padding:0;
}
.has-no-padding-horizontal {
	padding-left:0!important;
	padding-right:0!important;
}
.has-margin-vertical {
	margin:20px 0 30px;
}
.has-margin-top {
 	margin-top:40px;
}

.has-margin-bottom {
 	margin-bottom:40px;
}

.has-padding-top {
 	padding-top:40px;
 	position: relative;
}


/*========== 1 a. SUB PAGES ==============*/


.subpage-head {
	background-color:#f4f4f4;
	padding-top: 20px;
	padding-bottom: 15px;
	margin-bottom:40px;
}

/*========== 2. HEADER ==============*/

.masthead {
	position: relative;
	padding: 20px 15px;
	color: #FFF;
	text-align: center;
	text-shadow: 0 1px 0 rgba(0, 0, 0, .1);
	background-color: #323e4f;
}

.masthead .main-title {
	margin-bottom:50px;
	margin-top: 115px;
	  color: white;
  text-transform: uppercase;
  text-shadow: 0px 0px 16px rgba(0, 0, 0, 0.63);

}

 .offre{
	position: absolute;
  left: 50px;
  bottom: -210px;
  width: 253px;
}

.masthead .sub-title {

  margin-top: 20px;
    margin-bottom: 80px;
  text-align: left;
  font-size: 20px;
  background-color: #FB7335;
  color: white !important;
  padding: 10px 30px;
  position: absolute;
  top: -80px;
}

.bg-family {
	background-color: #323e4f;
	background-image:url(../images/bg-panier.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#explore{
	position: relative;
}

#id{
	background: url('../images/motif.jpg') repeat 50% 50%;
}
.locavore{
	text-align: center;

}
.locavore h2{
	margin-top: 70px;
	color: white;
	font-size: 30px;
}
.locavore h4{
	font-size: 40px;
}
.locavore p{
	color: white;
	font-size: 25px;
}
#step2{

	position: absolute;
	top: 30px;
	left: 100px;

}
.supporing-content{
	margin-bottom: 110px;
}
/*animation ends*/

.logo {
	padding: 15px 0;
	text-align:center;
}
.btn{


}

.btn-large {
	font-size:18px;
	padding:20px 50px;

  margin:5px 10px;
}
.btn-success {
	background-color: #F17340;
	background-image:none;
	border: 0;
	-webkit-box-shadow: 0 3px 0 rgba(174, 76, 36, 1);
	box-shadow: 0 3px 0 rgba(174, 76, 36, 1);
	line-height: 1.8;
	 border-radius: 100px !important;
}
.btn-success:hover, .btn-success:focus, .btn-success:active {
	background-color: rgba(174, 76, 36, 1);
	color:#FFF;
	border: 0;
	-webkit-box-shadow: 0 3px 0 rgba(174, 76, 36, 1);
	box-shadow: 0 3px 0 rgba(174, 76, 36, 1);
}
.btn-primary {
	background-color: #2db6d8;
	background-image:none;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
	background-color: #209ab8!important;
	color:#FFF!important;
}
.btn-warning {
	line-height: 1.8;
	-webkit-box-shadow: 0 3px 0 rgb(177, 116, 29);
	box-shadow: 0 3px 0 rgb(177, 116, 29);
}

.btn-warning:hover, .btn-warning:focus, .btn-warning:active {
	-webkit-box-shadow: 0 3px 0 rgb(177, 116, 29);
	box-shadow: 0 3px 0 rgb(177, 116, 29);
}

.subscribe {
	padding: 45px 0;
}
.alertMsg {
	font-size: 14px;
	display: block;
	padding: 5px 17px;
	text-align:center;
}
.masthead .form-control {
		border: 0;
}

/* Boucing Arrow Animation */

@keyframes arrowbounce {
from {
-webkit-transform: translateY(0);
-moz-transform: translateY(0);
transform: translateY(0);
}
to {
	-webkit-transform: translateY(-20px);
	-moz-transform: translateY(-20px);
	transform: translateY(-20px);
}
}
@-moz-keyframes arrowbounce { /* Firefox */
from {
-webkit-transform: translateY(0);
-moz-transform: translateY(0);
transform: translateY(0);
}
to {
	-webkit-transform: translateY(-20px);
	-moz-transform: translateY(-20px);
	transform: translateY(-20px);
}
}
@-webkit-keyframes arrowbounce { /* Safari and Chrome */
from {
-webkit-transform: translateY(0);
-moz-transform: translateY(0);
transform: translateY(0);
}
to {
	-webkit-transform: translateY(-20px);
	-moz-transform: translateY(-20px);
	transform: translateY(-20px);
}
}
@-o-keyframes arrowbounce { /* Opera */
from {
-webkit-transform: translateY(0);
-moz-transform: translateY(0);
transform: translateY(0);
}
to {
	-webkit-transform: translateY(-20px);
	-moz-transform: translateY(-20px);
	transform: translateY(-20px);
}
}
.scrollto, .scrollto:hover {
	margin:30px;
	display:block;
	color:#FFF;
	text-decoration:none;
	width:200px;
	margin:0 auto;
}
.scrollto small {
	color: #adb8c7;
}

.scrollto--arrow {
	padding: 20px;
	padding-bottom: 0;
}
.scrollto--arrow img {
	animation: arrowbounce 1s alternate infinite;
	-moz-animation: arrowbounce 1s alternate infinite; /* Firefox */
	-webkit-animation: arrowbounce 1s alternate infinite; /* Safari and Chrome */
	-o-animation: arrowbounce 1s alternate infinite; /* Opera */
}

/*Header Contact Form*/

.contact-form {
	background:#4a5565;
	border-radius:3px;
	padding:15px;
	text-align:left;
	position:relative;
}

.contact-form .mini-title {
	margin-bottom:20px;
	line-height:1.5;
	color:#FFF;
}

.dark-input {
	background:#353f4d;
	color:#FFF;
}

.loading p {
	margin: 10px 0 0 0;
	text-align:center;
}


.point-arrow {
  position: absolute;
  right: -92px;
  top: 20px;

}

/*Quick Features*/

.quick-features {
	text-align:left;
}

.features-lead {
	margin-bottom:30px;
	color:#323e4f;
}

.featues-single {
	margin-bottom:30px;
}

.featues-single img {
	margin-right:25px;
}

.featues-single h5 {
	margin-bottom:10px;
	margin-left:85px;
	color:#323e4f;
}

.featues-single p {
	color:#adb8c7;
	margin-left:85px;
	margin-bottom:0;
}

.masthead .featues-single h5, .masthead .features-lead {
	color:#fff;
}

/*========== 3. HERO IMAGE ==============*/

.section-title {
	margin-top:60px;
	margin-bottom:30px;
	font-weight:700;
	text-align:center;
}
.section-title h2 {
	color:#384047;
	margin-bottom: 10px;
}
.section-title h4 {
	color:#94a3a8;
	font-weight: normal;
	font-size: 18px;
	margin-top: 0;
}
.heroimg img, .clientlogo img {
	max-width:100%;
}
/*========== 4. FEATURES ==============*/

.features {
	margin:25px 0;
}
.thumbnail {
	border:0;
	text-align:center;
}
.thumbnail .caption p {
	color: #94a3a8;
}
/*Hover Animation*/

.thumbnail img {
	-moz-transition:all 0.6s ease;
	-webkit-transition:all 0.6s ease;
	-ms-transition:all 0.6s ease;
	-o-transition:all 0.6s ease;
	transition:all 0.6s ease;
}
.thumbnail:hover img {
	-moz-transform:scale(1.05);
	-webkit-transform:scale(1.05);
	-o-transform:scale(1.05);
	-ms-transform:scale(1.05);
	transform:scale(1.05);
	z-index:2;
}

/*Video Block*/

.video-block {
	max-width:620px;
	margin:0 auto;
}



/*========== 5. TESTIMONIALS ==============*/

.testblock {
	width:100%;
	height:auto;
	padding:20px;
	background:#FFF;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-style:italic;
	position:relative;
	line-height:28px;
	font-size:16px;
}
.testblock:after {
	top: 100%;
	left: 20%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #ffffff;
	border-width: 15px;
	margin-left: -15px;
}
.clientblock {
	margin-top:40px;
	margin-left:10px;
	text-align:center;
}
blockquote {
margin: 0 0 10px;
font-size: 20px;
border-left: none;
text-align:center;
font-family:Georgia, serif;
font-style:italic;
}
.clientblock img {
	-webkit-border-radius:100%;
	-moz-border-radius:100%;
	border-radius:100%;
}
.clientblock p {
	padding-top:13px;
}
.clientblock p strong {
	color:#384047;
	font-size:16px;
}


/* Animation */

.testblock {
	-moz-transition:all 0.6s ease;
	-webkit-transition:all 0.6s ease;
	-ms-transition:all 0.6s ease;
	-o-transition:all 0.6s ease;
	transition:all 0.6s ease;
}
.testblock:hover {
	-moz-transform:scale(1.05);
	-webkit-transform:scale(1.05);
	-o-transform:scale(1.05);
	-ms-transform:scale(1.05);
	transform:scale(1.05);
	z-index:2;
}
/*========== 6. PLANS AND PRICING ==============*/

.pricing {
	padding:25px;
	color:#FFF;
	text-align:center;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}
.pricing .planname {
	text-transform:uppercase;
	font-weight:600;
}
.pricing .price {
	font-size:52px;
	font-weight:300;
	margin:10px 0;
}
.pricing .billing {
	text-transform:uppercase;
	color:#FFF;
	opacity:0.7;
}
.pricing .price .curr {
	display:inline-block;
	font-size:20px;
	vertical-align:super;
}
.pricing .price .per {
	display:inline-block;
	font-size:20px;
	vertical-align: baseline;
}
.color1 {
	background-color:#5ca2e0;
}
.color2 {
	background-color:#7676c6;
}
.color3 {
	background-color:#885fc1;
}
/* Animation */

.pricing {
	-moz-transition:all 0.6s ease;
	-webkit-transition:all 0.6s ease;
	-ms-transition:all 0.6s ease;
	-o-transition:all 0.6s ease;
	transition:all 0.6s ease;
}
.pricing:hover {
	-moz-transform:scale(1.05);
	-webkit-transform:scale(1.05);
	-o-transform:scale(1.05);
	-ms-transform:scale(1.05);
	transform:scale(1.05);
	z-index:2;
}

/*========== 7. FAQ ==============*/

.faq p {
	margin-bottom:25px;
}

/*==========8. FOOTER ==============*/


.footercta {
	padding: 60px 15px;
	color: #FFF;
	text-align: center;
	text-shadow: 0 1px 0 rgba(0, 0, 0, .1);
	background-color: #323e4f;
}
.footercta .section-title {
	margin-top:0;
}
.footercta .section-title h2 {
		color: #FFF;
}

.footerlinks {
	text-align:center;
}
.footerlinks a {
	text-align:center;
	padding:0 13px;
	display:inline-block;
	padding-bottom: 15px;
}



/*==========9. CUSTOM MEDIA QUERIES==============*/


/*MEDIA QUERIES*/

@media (max-width: 991px) {
 h1 {
font-size: 35px;
line-height: 50px;
margin: 15px 0;

}
 h2 {
font-size: 35px;
}
 .testimonials [class*="col-"]:not(:first-child) {
 margin-top: 40px;
}
 .planpricing [class*="col-"]:not(:first-child) {
 margin-top: 30px;
}
 .breath {
margin: 30px auto;
}
.masthead .offre {
  position: absolute;
  right: 50px;
  bottom: -90px;
  width: 200px;
}
}
 @media (max-width: 767px) {
 h1 {
font-size: 30px;
line-height: 40px;
}
 h2 {
font-size: 30px;
line-height: 40px;
}
 .subscribe [class*="col-"]:not(:first-child) {
 margin-top: 30px;
}
 .masthead {
padding: 40px 15px;
}


.masthead .main-title {
  margin-bottom: 190px;
  margin-top: 15px;}

  .offre {
  position: absolute;
  right: 0px;
  bottom: -80px;
  width: 180px;
}
}

 @media (max-device-width: 992px) {

.masthead {
background-size: cover;
background-attachment: scroll;
}

 }

.signup-block {
	padding:20px;
	background:rgba(255,255,255,0.25);
	border-radius:7px;
	margin-bottom:25px;
}

.form-group.last {
	margin-bottom:0;
}

.multiple-btns .btn + .btn {
	margin:10px;
}

 s


/*=== Navigation ===*/

.navbar-default {
background-color: #FFF;
border-color:#e0e0e0;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover {
color: #FFF;
font-weight:bold;
}

.navbar-default .navbar-nav &gt; li &gt; a {
color: #333;
text-transform:uppercase;
font-weight:bold;
}

.navbar-default .navbar-nav &gt; .active &gt; a, .navbar-default .navbar-nav &gt; .active &gt; a:hover, .navbar-default .navbar-nav &gt; .active &gt; a:focus {
color: #333;
background-color: rgba(255, 255, 255, 0.22);
}

.navbar-default .navbar-nav &gt; li &gt; a:hover, .navbar-default .navbar-nav &gt; li &gt; a:focus {
color: rgba(0, 0, 0, 0.5);
background-color: transparent;
}

.navbar-default .navbar-nav &gt; .open &gt; a, .navbar-default .navbar-nav &gt; .open &gt; a:hover, .navbar-default .navbar-nav &gt; .open &gt; a:focus {
color: #333;
background-color: rgba(255, 255, 255, 0.21);
}

.navbar-brand {
padding: 8px 15px;
}

 /*
 ------ LIGHT LAYOUT ------- s
 */


.light .masthead {
background: url('../images/bg-panier.png')top center no-repeat;
	background-size:cover;

color:#293342;
padding-bottom:0;
 }

 .light .masthead:before{
 	content:"";
 	position: absolute;
 	left: 0; right: 0;
 	top: 0; bottom: 0;
 	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 50%, #rgba(0, 0, 0, 0.3) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#rgba(0, 0, 0, 0)), color-stop(100%,rgba(0, 0, 0, 0.3))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 50%,rgba(0, 0, 0, 0.3) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,0,0,0) 50%,rgba(0, 0, 0, 0.3) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,0,0,0) 50%,rgba(0, 0, 0, 0.3) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,0,0,0) 50% rgba(0, 0, 0, 0.3) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(0, 0, 0, 0)', endColorstr='rgba(0, 0, 0, 0.3)',GradientType=0 ); /* IE6-9 */
 }
.light .masthead .sub-title {
color: #909090;
font-weight: normal;
 }

.light .contact-form {
background: #FFFFFF;
border: 1px solid #EDEDED;
margin-bottom: 20px;
 }

.light .form-control {
border: 1px solid #CCC;
}

.contact-form .mini-title {
	color:#BABABA;
}


/*Layout 3 Title and Image Separated*/

.masthead .bg-image {
	background:url(../images/edu-bg.jpg) top center no-repeat;
	background-size:cover;
}

.highlight .section-title {
margin-top: 45px;
}


/*Layout 4 Full Header BG*/

.masthead.header-bg {
	background:url(../images/travel-bg.jpg) top center no-repeat;
	background-size:cover;
}

.color-white {
	color:#FFF!important;
}

#myModal{
	text-align: center;
}
.img-legumes{
	position: absolute;
	    top: -40px;
    left: 60px;
}

.modal-img{
	    height: 250px;
	    background-repeat: no-repeat;
	    background-size: contain;
	    background-attachment: initial;

	    background-origin: padding-box;
	    background-position: top center;
}
.locavore2 .modal-info{
    background-color: #ab6e2b;
    color: white;
    padding: 15px 24%;
}
.locavore1 .modal-info{
    background-color: #5a641c;
    color: white;
    padding: 15px 24%;
}
.locavore3 .modal-info{
    background-color: #28515A;
    color: white;
    padding: 15px 24%;
}
.locavore2 .modal-img{
	background-image: url(../images/locavore-02.png);
	background-color: #ee9636;
}
.locavore1 .modal-img{
	background-image: url(../images/locavore-01.png);
	background-color: #7f8e25;
}
.locavore3 .modal-img{
	background-image: url(../images/locavore-3.png);
	background-color: #326E7C;

}
</pre>
  </body>
</html>
